@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    font-weight: 400;
}
footer {
  background: #003158;
}
label {
  font-weight: 600;
}
.center {
  text-align:center;
}
.center-title {
  padding:10px 20px;
}