body {
    font-family: 'Open Sans', sans-serif;
    // font-size: 1.4em;
    font-size: 14px;
    font-weight: 400;
    color: #494949;
    letter-spacing : .05em;
}
.line {
  height:1px;
  width:100%;
  margin-bottom:15px;
  background:#6464648a;
}
textarea.form-control , .form-control ,.btn ,.dropdown-menu{
  font-size: 14px ;
}
footer {
  background: #003158;
}
label {
  font-weight: 600;
}
.img-container {
  width: 100%;
  height: 135px;
  background: #EFEFEF;
}
.center {
  text-align:center;
}
.center-title {
  padding:10px 20px;
}

.table th, .table td {
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}
.table.pro-table th, .table.pro-table td {
  vertical-align: top !important;
}
.breadcrumb {
  background: transparent;

  li + li:before {
    display: inline-block;
    padding:0 0.5rem;
    color: #000;
    content: ">";
  }
  a:hover {
    text-decoration: none;
  }
}
.login-bg {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background: -webkit-radial-gradient(#40404b, #032641) rgba(34,34,40,0.94);
  background: radial-gradient(#40404b, #032641) rgba(34,34,40,0.94); 
}
// dropdown
.dropdown-header {
  padding:0;
}
.dropdown-list {  
  a.dropdown-item {
    font-weight: 300 !important;
    padding-left: 40px;
  }  
}
// carousel
.carousel-inner {
  max-height: 91vh ;

  img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 0%;
  }
}
.carousel-control-prev, .carousel-control-next {
  width: 10% !important;
}
.carousel-caption {
    top:100px ;
    text-align: left;
    left: 10%;
    right:10%;
    letter-spacing: 0.05em;
  h4 {
    font-size: 36px;
    font-weight: bold;
  }
  p {
    width:60%;
    font-size: 20px;
    font-weight:300;
  }
}
.carousel-indicators li {
    width: 45px;
    height: 6px;
}
.colbox-body {
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
   -webkit-line-clamp: 3; 
}

.home-page {
  color: #494949;

  a {
    text-decoration: none;
  }

  .center-title {
    h4 {
      color: #646464;
      font-size: 24px;
      letter-spacing: 0.05em;
    }
    p {
      color: #646464;
      font-size:16px;
    }
  }
  .section-title {
    padding-top : 36px;
    padding-bottom:15px;
    h4 {
      color: #646464;
      font-size: 24px;
      letter-spacing: 0.05em;
    }
    
  }
}
.product-img {
  width:100%;
  height:100%;
  object-position: 50% 50%;
  object-fit: cover;
}
// admin dashboard
.bg-cytek {
  background: #003158 !important;
}
.cytek-sidebar {
  width: 230px;
  position:fixed;
  background: #003158;
  -webkit-box-shadow:0px 1px 2px rgba(100, 100, 100, 0.25);
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.25);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}
.sidebar-content {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}
.sidebar-menu {
  position:relative;
  flex:1;
  overflow-y: auto;
}
.cytek-main {
  width:100%;
  overflow:hidden;
  padding-left: 15rem;  
}
.wrapper {
    position: relative;
    margin: 0 auto;
}
.navbar-nav.ml-auto a.nav-link {
  color:#30336B;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 0.05em;
}
.navbar-nav a.nav-link {
  color:#fff ;
  font-size:14px;
  cursor: pointer;
  padding-left: 23px;

  &:hover,&.active,&:active,&:focus {
    color: #FFCC00;
  }

}
ul.list-unstyled.fw-light {
  margin-bottom:0px;
  li {
    margin-bottom:5px;
    a {
      color:#494949 ;
      &:hover {
        color:#FFCC00;
        text-decoration:none;
      }
    }
  }
}
// alert

.login-bg .alert {
  border-radius: 0px;
  margin-bottom:0px;  
}
 .alert-danger {
  color: #FFF;
  background-color: #f54337;
  border-color: #ff0c00;
  border-radius: none;
}

.shadow , .navbar-expand-lg{
  -webkit-box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.25) !important;
    box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.25) !important;
}
.card-header,.card-footer {
  background-color: #fff;
  color:#646464; 
  a {
    text-decoration: none;
    color:#646464; 
  }
}
.card-header {
  border-bottom:  1px solid #F2F2F2;
}
.card-footer {
  border-top: 1px solid #F2F2F2;
}
.card-body .table th,.card-body .table td {
  border-top: 1px solid #F2F2F2 !important;
  border-bottom:1px solid #F2F2F2 !important;
}
.card {
  border:none;
  box-shadow: 0px 1px 2px rgba(100, 100, 100, 0.25);
}
.header-text {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #646464;  
  padding-bottom: 23px;
}
.header-mt {
  padding-top: 35px;
}
.fw-bold {
  font-weight: $font-weight-bold;
}
.fw-normal {
  font-weight:$font-weight-normal;
}
.fw-light {
  font-weight: $font-weight-light;
}
.active-lbl {
  color: #28A745;;
  font-weight: 600;
  text-align: center
}

.inactive-lbl {
  color: #DC3545;
  font-weight: 600;
  text-align: center
}

.action-btn {
  text-align: center;
  button,a {
    width: 88px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border:1px solid transparent;
    border-color: 1px solid transparent;
    outline: none;
    white-space: nowrap;
  }
 
}
td.btn-collapse {
  width: 35%;
}
.form-control.form-shadow {
  border: 1px solid rgba(0, 0, 0, 0.125);
  
}
.pt-20 {
  padding-top: 20px !important;
}
.btn-link {
  
  color: #646464;
  text-align: left;
  font-size: 14px;
  
  &:hover , &:active , &:focus {
    text-decoration: none !important;
  }

  &:after {
    font-family:FontAwesome;
    content: "\f055" ;
    float: right;
    color: #007bff !important;
  }
}


.btn-link[aria-expanded="true"]:after {
  content: "\f056";   
}

.modal-footer .btn-link {
  font-weight: bold !important;
  font-size: 12px;
  letter-spacing: 0.05em;

  &:after {
    content: "" !important; 
  }
}
.sidebar-brand {
  img {
    width: 100%;
    padding-bottom: 47px;
    padding-top: 55px;
  }
}
.modal{
  .modal-title {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.05em;
  }  
  .cytek-modal {
    width: 358px;
    border-radius: 5px;
  }
  .btn-default {
    font-size: 11px;
    font-weight: 600;
  }
  span.form-label , label.form-label {
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #5E5E5E;
    line-height: 1.2;
  }
  .form-control {
    font-size: 12px !important;
    margin-top: 8px !important;
  }
}



