// Widescreens
@include mediaXl {
}

// Desktop & Laptops
@include mediaLg {    
}

// Tablets $ Small Laptops
@include mediaMd {
    .navbar-brand.ml-5 , .container-fluid.mx-5 {
        margin:0 !important;
    }
    .navbar > .mr-5 {
        margin:0px !important;
    }
    .cytek-sidebar {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        z-index: 1050;  
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform .2s ease-in-out;
        transition: transform .2s ease-in-out;
        transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
                    
        &.show {
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0); 
            transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
            transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
        }
    }
    .cytek-main {
        padding: 0 !important;
    }
    .header-text {
        font-size: 19px;
        padding-top: 80px;
    }
    .ctg-function {
        .header-mt {
            padding-top: 0px;
        }
        .btn {
            margin: 20px 0px;
        }
        
    }
    #nav-backdrop {        

        &.show {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000; 
        opacity: 0.5;
        }
   }
   .cytek-modal {
    width: auto !important;
    border-radius: 5px;
  }
  .carousel-inner {
    height: auto;
  }
  .carousel-caption {
      top: 40px;
      p {
          width:75%;
      }
  }
  .navbar-collapse {
    flex-basis: inherit;
    // flex-grow: inherit; 
    align-items: center;
    display:flex;
        ul.navbar-nav {
            flex-direction: row;
        }
        .mr-5 {
            margin:0 !important;
        }
    }
    .breadcrumb {
        margin-top : 70px;
    }
    .prod-page {
        margin-top: 80px;
    }

  .footer-section {
      .col-lg-4.pl-5 {
          padding-left: 1rem !important;
      }
  }  
}



// Smartphones Landscape
@include landscapeSm {
    .breadcrumb {
        display: none;
    }
    .mw-100 {
        width: 100%;
    }
    .prod-page {
        margin-top: 30px;
    }
    .mobile-banner {
        display:block !important;
    } 
    .navbar.navbar-expand-lg {
        top:0;
        position:fixed;
        width:265px;
        background: #fff;
        z-index:1050;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: -webkit-transform .5s ease-in-out;
        transition: transform .5s ease-in-out;
        transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;

        &.show {
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0); 
            transition: -webkit-transform .5s ease-in-out;
            transition: transform .5s ease-in-out;
            transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
        }

        .navbar-collapse {
            flex-basis: 100%;
            height:100vh;
            overflow-x:auto;
            display:block;
            ul.navbar-nav {
                flex-direction: column;
                margin-bottom:15px;
                a.nav-link {
                    padding-left: 0;
                }  
                .dropdown-menu {
                    overflow: hidden;
                }  
            }
        }
    }

    .container.px-5 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .carousel-caption {
      top: 50px;

      h4 {
          font-size: 20px;
      }
      p {
          display:none;
      }
    }

    .tbl-mobile table,
    .tbl-mobile thead,
    .tbl-mobile tbody,
    .tbl-mobile th,
    .tbl-mobile td,
    .tbl-mobile tr {
      display: block;
    }
    .tbl-mobile thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    .tbl-mobile tr {
      border-right: 1px solid #DCDDE1;
      border-bottom: 1px solid #DCDDE1;
    }
  
    .tbl-mobile tbody tr td {
      word-break: break-word;
      border: none;
      position: relative;
      white-space: normal;
      text-align: right;
  
    }

    .tbl-mobile.table > tbody > tr:first-child td:first-child {
        padding-left: 10px;
      }

    .tbl-mobile td:before { 
        content: attr(data-title); 
    }
   
  
    .tbl-mobile td:before {
      position: static;
      white-space: nowrap;
      float: left;
      color: #7F8FA6;      
      font-weight: $font-weight-bold;
      vertical-align: middle !important;
    }
    .tbl-mobile {
        border:0;
        margin-bottom: 0;
        border-radius: 5px !important;
        tr:first-child {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        tr:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
    .tbl-mobile.table > tbody > tr:first-child td:first-child {
        padding-left: 10px;
      }
    .tbl-mobile td:before { content: attr(data-title); }
    .tbl-mobile td.td-header:before {
        content:"";
    }
    .tbl-mobile td.td-header {
        text-align: left !important;
        font-weight: 400;
        font-size: 14px;
    }
    .tbl-mobile td.td-header.expand:after {
        content:"\f0d7";
        background: #fff;
        color: inherit;
    }
    .tbl-mobile td.td-header:after {
        font-family: FontAwesome;
        content:"\f0da";
        margin-left: 10px;
        color: inherit;
        float: right;
    }
    
    .tbl-mobile tr td {
        display: none;
    }
    .tbl-mobile .tbl-collapse tr td {
        display: block !important;        
        &.icon-btn {
            display: inline-block !important;
        }
    }
    
    
    .tbl-mobile tr td.td-header {
        display: block ;
    }
    .action-btn , .active-lbl ,.inactive-lbl{
        text-align: left !important;
    }
    .action-btn button , .btn-collapse {
        width: 100% !important;
    }
    
    
    
}